<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxcore.dao.LikeMapper">
  <resultMap id="BaseResultMap" type="com.maxcore.entity.Like">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_like
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maxcore.entity.Like">
    insert into t_like (id, user_id, article_id,status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER},
    #{status})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.maxcore.entity.Like">
    update t_like
    set user_id = #{userId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, article_id, status
    from t_like
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, article_id, status
    from t_like
  </select>

  <update id="checkLikeOrNot" parameterType="map" keyProperty="id" useGeneratedKeys="true">
    update t_like set
      <if test="status lt 1">status=1</if>
      <if test="status gt 0">status=0</if>
    where id=#{id}
  </update>
  <update id="checkCollectOrNot" parameterType="map" keyProperty="id" useGeneratedKeys="true">
    update t_collect set
      <if test="status lt 1">status=1</if>
      <if test="status gt 0">status=0</if>
    where id=#{id}
  </update>

</mapper>